<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <!-- <img src="{{imgURL1}}" class="d-block w-100" alt="..."> -->

        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100" src="{{imgURL1}}" alt="First slide">
              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">The Northern Regions</h3>
              <p>Discover the newly released Northern Regions map for exclusive high level item shops and a brand new evil creature that roams the city that needs to be slain, don't forget to clan up before heading there!</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100" src="{{imgURL2}}" alt="Second slide">
              <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Armour Update</h3>
              <p>Check our recent news blog for a rundown on the armour rework <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>here</a>.</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100" src="{{imgURL3}}" alt="Third slide">
              <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Powerful Forces Appear</h3>
              <p>A mysterious new altar has appeared just south of the Northern Region, legends has it that only true heroes can harness it's power. Play now to take on the challenge!</p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <div class="carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(2).jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(3).jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>